/* Variables base y limpieza, orden general a toda la pagina*/
* { box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
    font-family: 'Segoe UI', sans-serif; }
    
body { background-color: #f8f9fa; 
    color: #333; 
    text-align: center; 
    padding: 2rem; }

/* Controles y Botones */
.controles { display: flex; 
    justify-content: center; 
    gap: 15px; 
    margin: 2rem 0; 
    align-items: center; }

/* Aplica para todos los botones */
.btn { padding: 10px 20px; 
    border: 0 ; 
    border-radius: 5px; 
    
/* Manito especial al hacer clic */
    cursor: pointer; 
    font-weight: bold; }

.primario { background-color: #2c3e50; 
    color: white; }

.secundario { background-color: #ecf0f1; 
    color: #2c3e50; 
    border: 1px solid #bdc3c7; }

/* ⭐ EXTRA POINT: Mejoras visuales de UI y Animaciones Sutiles */
.btn { transition: transform 0.2s, background-color 0.2s; } /* Transición suave */
.btn:hover { transform: translateY(-2px); } /* Animación: Se eleva un poquito al pasar el mouse */
.primario:hover { background-color: #1a252f; }

/* Grid para Desktop (conectar con js)*/
.grid-paleta {
    display: grid;
    gap: 15px;
    max-width: 1000px;
    margin: 0 auto;
}
.grid-3 { grid-template-columns: repeat(3, 1fr); }
.grid-4 { grid-template-columns: repeat(4, 1fr); }

/* Tarjetas de Color */
.tarjeta-color {
    height: 180px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 15px;

/* ⭐ EXTRA POINT: Animaciones Sutiles en la tarjeta */
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    cursor: pointer;
}

/* Apariencia tipo 3D para las tarjetas*/
.tarjeta-color:hover {
    transform: scale(1.03); /* Se agranda un 3% */
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

/* Accesibilidad: Etiqueta blanca para asegurar que el HEX siempre se lea bien */
.info-color {
    background: rgba(255, 255, 255, 0.9);
    padding: 5px 15px;
    border-radius: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}



